.box{
    width: 400px;
    height: 400px;
    border: 10px solid black;
    border-radius: 50%;

    margin: 40% auto;
    align-items: center;
    justify-content: center;
    display: flex;
    animation: box 2s infinite forwards;
    
}
@keyframes box{
    0%{ border-color: red; transform: scale(1);}
    25%{ border-color: blue; transform: scale(1.3);}
    50%{ border-color: green; transform: scale(1.4);}
    75%{ border-color: yellow; transform: scale(1.5);}
    100%{ border-color: tomato; transform: scale(1.6);}
}
.circle{
    width: 200px;
    height: 200px;
    border: 5px solid black;
    animation: circle 2s infinite alternate;
    
}
@keyframes circle{
    0%{ transform:rotate(0deg); border-width: 10px;}
    25%{border-color: aqua; border-width: 20px;}
    50%{border-color: rgba(30, 255, 0, 0.72); border-width: 20px;}
    75%{border-color: rgb(255, 111, 0); border-width: 20px;}
    100%{transform: rotate(360deg);}
}