*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(242, 243, 243);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

}

main{
    width: 75%;
    margin: 10px auto;
    border: 1px solid #dddd;
    color: white;
    display: grid;
    font-size: 20px;
    grid-template-rows: 60px 100px 200px 60px;
    grid-template-columns: repeat(3, 1fr) 150px;
    grid-gap: 10px;
}
.div1{background-color: tomato;
grid-column: 1/-1;}
.div2{background-color: rgb(128, 65, 247);}
.div3{background-color: rgb(255, 0, 212);}
.div4{background-color: rgb(0, 255, 149);}
.div5{background-color: rgb(0, 200, 255);
grid-row: 2/4; grid-column: 4/5;
}
.div6{background-color: rgb(2, 0, 0);
grid-column: 1/ span 3;}
.div7{background-color: rgb(119, 7, 111);grid-column: 1/-1;} 
